.movie-item {
  background-color: grey;
  padding: 1% 2% 1% 2%;
  margin: 2%;
  min-width: 250px;
  min-height: 300px;

  & ul {
    list-style:none;
    margin-left:0;
    padding-left:0;

    & img {
      max-height: 250px;
    }
  }
}
